* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: airbnb-c;
    src: url(../assets/fonts/airbnbcerealappblack.woff2);
}
@font-face {
    font-family: eksell-c;
    src: url(../assets/fonts/ekselldisplaytrial-large.otf);
}
body {
    max-width: 1440px;
    font-family: airbnd-c;
}